<ul class="nav nav-list">
        <li><h4>Search</h4></li>
</ul>
<%= search_form_for @search, remote: true, html: {class: "form-horizontal search_form", id: "training_search"} do |f| %>
  <div class="field">
  <%= f.text_field :name_cont, placeholder: "Training name"%>
  </div>
   <div class="field">
  <%= f.text_field :date_eq, class: "datepicker", placeholder: "Date"%>
  </div>
  <div class="field">
  <%= f.text_field :remarks_cont, placeholder: "Search phrase"%>
  </div>

  <div class="action search_buttons">
  <%= f.submit class: "btn btn-primary btn-block"%>

  <%= link_to "clear", trainings_path, class: "btn btn-warning btn-block"%>
  </div>

<%end%>
