<%set_meta_tags :nofollow => true%>
<ul class="breadcrumb">
         <li><%= link_to "Judges".upcase!, judges_path%> <span class="divider">/</span></li>
    <li class="active"><%= "#{@judge.designation + " " +@judge.name.upcase}"%></li>
 </ul>

<p>
  <b><%= @judge.designation%></b>
  <%= @judge.name %>
</p>
<p>
 <b>Membership_id:</b>
 <%= @judge.membership_id%>
</p>


<br />
<br />
<%= link_to 'Edit', edit_judge_path(@judge), class: "btn" %> |
<%= link_to 'Back', judges_path, class: "btn" %>
<%= link_to "View cases", cases_judge_path, class: "btn btn-primary"%>
<%= link_to "View trainings", trainings_judge_path, class: "btn btn-primary"%>

