<h3> Search for a case</h3>
<%= search_form_for @search, html: {class: "form-horizontal"} do |f| %>
  <div class="field">
  <%= f.text_field :judge_name_cont, placeholder: "Judge's name"%>
  </div>
  <div class="field">
  <%= f.text_field :cause_name_cont, placeholder: "Cause"%>
  </div>
 <div class="field">
  <%= f.text_field :case_number_cont, placeholder: "Case number"%>
  </div>
  <div class="field">
    <%= f.date_select :year_of_judgement_eq, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year'}, class: "date"%>
  </div>
  <div class="field">
    <%= f.text_field :court_cont, placeholder: "Court"%>
  </div>
  <div class="field">
  <%= f.text_field :complainant_cont, placeholder: "Complainant"%>
  </div>
  <div class="field">
  <%= f.text_field :defendant_cont, placeholder: "Defendant"%>
  </div>
  <div class="field">
  <%= f.text_field :accused_cont, placeholder: "Accused"%>
  </div>
  <div class="action">
  <%= f.submit class: "btn btn-primary btn-block"%>

  <%= link_to "clear", cases_path, class: "btn btn-warning btn-block"%>
  </div>
<%end%>
