<h3>Decision matters on refugees</h3>

<% @cases.each do |cases| %>
  <article class="hero-unit">
    <% if cases.cause.category == "criminal"%>
     <p class="parties"><%= cases.state.upcase %> v. <%= cases.accused.upcase %></p>
    <%else%>
     <p class="parties"><%= cases.complainant.upcase.html_safe %> v. <%= cases.defendant.upcase.html_safe %></p>
    <%end%>
    <p>
       <b>Judge:</b>
       <%= cases.judge.name%></p>
    <p><b>Cause:</b> <%= cases.cause.name + " - " + cases.cause.category%></p>
    <p><b>Case Number:</b> <%= cases.case_number %></p>
    <p><b>Delivery Date:</b> <%= cases.year_of_judgement %></p>
    <p><b>Court:</b> <%= cases.court %></p>
    <p><%= truncate(cases.summary_of_decision, length: 200).html_safe %></p>
    <p class="pull-right"><%= link_to 'Read more', cases, class: "btn btn-primary" %> <%= link_to "Edit", edit_case_path(cases), class: "btn btn-warning" %>
    <%= link_to 'Destroy', cases, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></p>
  </article>
<% end %>

<br />


