<p id="notice"><%= notice %></p>

<p>
  <b>Judge:</b>
  <%= @case.judge.name%>
</p>

<p>
  <b>Cause:</b>
  <%= link_to @case.cause.name, @case.cause%>
</p>

<p>
  <b>Case number:</b>
  <%= @case.case_number %>
</p>

<p>
  <b>Summary of decision:</b>
  <%= @case.summary_of_decision.html_safe %>
</p>

<p>
  <b>Year of judgement:</b>
  <%= @case.year_of_judgement %>
</p>

<p>
  <b>Court:</b>
  <%= @case.court %>
</p>
<% if @case.cause.category == "civil"%>
<p>
  <b>Complainant:</b>
  <%= @case.complainant.html_safe %>
</p>

<p>
  <b>Defendant:</b>
  <%= @case.defendant.html_safe %>
</p>

<%else%>
<p>
  <b>State:</b>
  <%= @case.state %>
</p>


<p>
  <b>Accused:</b>
  <%= @case.accused %>
</p>
<%end%>
<p>
  <b>PDF:<b>
  <%= link_to "download full judgement", @case.pdf.url%>
</p>
<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
