<div class="row-fluid">
<h2><%= t('.contact_us') %></h2>
<div class="span6" id="contact_us">
<p>
	The KMJA Secretariat
    </p>
    <p>
	Milimani Law Courts,
    </p>
    <p>
	2nd Floor, Room 244
    </p>
    <p>
	Tel: +254 (020) 3588237
    </p>
    <p>
	Email: admin@kmja.or.ke / kmjasec@yahoo.com
	</p>
    <p>
	Website: <a href="http://www.kmja.or.ke" target="_blank">www.kmja.or.ke</a> 
	</p>
</div>
<div class="span5">
	<%= form_for @contact, :url => contacts_path, :html => {:class => 'contact_form'} do |f| %>
  <% if ContactUs.require_name %>
    <li class='string required' id='contact_us_contact_name_input'>
      <%= f.label :name, (t('.name') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
      <%= f.text_field :name, :required => true %>
      <% if f.object.errors[:name].present? %>
        <p class='inline-error'><%= f.object.errors[:name].join(' and ') %></p>
      <% end %>
    </li>
  <% end %>
  <li class='string required' id='contact_us_contact_email_input'>
    <%= f.label :email, (t('.email') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
    <%= f.email_field :email, :required => true %>
    <% if f.object.errors[:email].present? %>
      <p class='inline-error'><%= f.object.errors[:email].join(' and ') %></p>
    <% end %>
  </li>
  <% if ContactUs.require_subject %>
    <li class='string required' id='contact_us_contact_subject_input'>
      <%= f.label :subject, (t('.subject') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
      <%= f.text_field :subject %>
      <% if f.object.errors[:subject].present? %>
        <p class='inline-error'><%= f.object.errors[:subject].join(' and ') %></p>
      <% end %>
    </li>
  <% end %>
  <li class='text required' id='contact_us_contact_message_input'>
    <%= f.label :message, (t('.message') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
    <%= f.text_area :message, :required => true %>
    <% if f.object.errors[:message].present? %>
      <p class='inline-error'><%= f.object.errors[:message].join(' and ') %></p>
    <% end %>
  </li>
  <li class='commit'>
    <%= f.submit :submit, :alt => t('.submit'), :class => 'btn btn-primary', :label => t('.submit'), :title => t('.submit') %>
  </li>
<% end %>
</div>
</div>
