<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
    <div class="active item"><%= image_tag "kenya-refugee-camp.jpg"%></div>
    <div class="item"><%= image_tag "03-65731.jpg"%></div>
    <div class="item"><%= image_tag "refugee camps.jpg"%></div>
    <div class="item"><%= image_tag "Dadaab-refugee-camp-kenya-007.jpg"%></div>
    <div class="item"><%= image_tag "baby in the tent.jpg"%></div>
    <div class="item"><%= image_tag "Dadaab Camp in Kenya.jpg"%></div>
    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
