<div class="row-fluid">
	<div class="span8">
		<%= render "couseral.html"%>
		<div class="hero-unit">
			<h2> Our partners</h2>
			<figure>
				<%= image_tag "jti.png"%>
				<figcaption>
					JTI
				</figcaption>
			</figure>
			<figure>
				<%= image_tag "judiciary.gif"%>
				<figcaption>
					Juduciary
				</figcaption>
			</figure>
			<figure>
				<%= image_tag "kituo cha sheria.jpg"%>
				<figcaption>
					Kituo cha sheria
				</figcaption>
			</figure>
			<figure>
				<%= image_tag "refugee consortium of kenya.png"%>
				<figcaption>
					Refugee Consortium of kenya
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="span4">
		<%= render "latestnews"%>
	</div>
</div>
