# -*- coding: utf-8 -*-

<%set_meta_tags :title => 'Home', :reverse => true%>
<div class="row-fluid">
<div class="span12">

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag("1.jpg")%></div>
    <div class="item"><%= image_tag("2.jpg")%></div>
     <div class="item"><%= image_tag("3.jpg")%></div>
      <div class="item"><%= image_tag("4.jpg")%></div>
     <div class="item"><%= image_tag("5.jpg")%></div>
      <div class="item"><%= image_tag("6.jpg")%></div>
      <div class="item"><%= image_tag("7.jpg")%></div>
       <div class="item"><%= image_tag("8.jpg")%></div>
       <div class="item"><%= image_tag("9.jpg")%></div>
        <div class="item"><%= image_tag("10.jpg")%></div>
     <div class="item"><%= image_tag("11.jpg")%></div>
     <div class="item"><%= image_tag("12.jpg")%></div>
      <div class="item"><%= image_tag("13.jpg")%></div>
       <div class="item"><%= image_tag("14.jpg")%></div>
       <div class="item"><%= image_tag("15.jpg")%></div>
        <div class="item"><%= image_tag("16.jpg")%></div>
       <div class="item"><%= image_tag("17.jpg")%></div>
        <div class="item"><%= image_tag("18.jpg")%></div>
        <div class="item"><%= image_tag("19.jpg")%></div>
        <div class="item"><%= image_tag("20.jpg")%></div>
         <div class="item"><%= image_tag("21.jpg")%></div>
         <div class="item"><%= image_tag("22.jpg")%></div>
          <div class="item"><%= image_tag("23.jpg")%></div>
          <div class="item"><%= image_tag("24.jpg")%></div>
         <div class="item"><%= image_tag("25.jpg")%></div>

  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
</div>
<div class="row-fluid">
  <div class="span8">
    <h3>Objective</h3>
   <article id="objective">
Kenya is currently the host to the largest number of refugees in the world. The public eye, refugees are ‘responsible’ for breaches in national security. From some corners especially the law enforcement sector, refugees are ‘responsible’ for insecurity, especially of terrorism nature. Residents of the city, especially around Eastleigh think that the Somali refugees are responsible for hiking the price of land and generally hiking the costs of living through their ’curious’ investments i.e. the source of their income is questionable.
In the justice corridor, some law enforcers have only one agenda which is ‘repatriating’ Somalis back to their country in total or partial disregard of the international law that protects them. They are collectively judged as irritants to the national security and economy and therefore don’t deserve to be in the country.
Kenya Magistrates and Judges Association hopes to bridge this gap through the project to sensitize Judicial Officers and Court User Committees on International Standards of protection for refugees as well as IDPs. It is the objective of the project to sensitize the judiciary and its stakeholders on ‘who is a refugee – as opposed to other foreigners’- and what protection is due for them by both state and non-state actors as well as individuals.
KMJA does not support these unlawful ‘repatriations’ and believes in the rule of law, non-discrimination and sensitivity to the plight of refugees since anyone can be a refugee.
We believe at KMJA that no person is illegal just because displacement and that no one person should be a refugee for one day more than it is necessary.
The system is meant to keep records of decisions made by the Judiciary involving refugees. It mainly targets decisions addressing the question whether or not their stay in the country is lawful although any other decisions made that involve or relate to refugees are also considered. It monitors the development in terms of the impact of the sensitization of judicial officers and court user committees on international protection and refugee law.
   </article>
  </div>
  <div class="span4">
     <h3>Contact Us</h3>
     <address>
<p>
 <strong> The KMJA Secretariat</strong>
    <p>
  Milimani Law Courts,
    </p>
    <p>
  2nd Floor, Room 244
    </p>
    <p>
       Tel: <a href="tel:+254 020 3588237">+254 (020) 3588237</a>
    </p>
    <p>
  Email: <a href="mailto:#">admin@kmja.or.ke</a> <a href="mailto:#">kmjasec@yahoo.com</a>
  </p>
    <p>
  Website: <a href="http://www.kmja.or.ke" target="_blank">www.kmja.or.ke</a>
  </p>
</address>
  </div>
</div>
