<%set_meta_tags :title => 'Home', :reverse => true%>
<div class="row-fluid">
<div class="span12" id="flags">
     <%= image_tag "kenya.jpg"%>
</div>
<div class="span12" id="gallery">
   <%= link_to image_tag("1.jpg"), "assets/1.jpg", rel: "group"%>
         <%= link_to image_tag("2.jpg"), "assets/2.jpg", rel: "group"%>
         <%= link_to image_tag("3.jpg"), "assets/3.jpg", rel: "group"%>
         <%= link_to image_tag("4.jpg"), "assets/4.jpg", rel: "group"%>
         <%= link_to image_tag("5.jpg"), "assets/5.jpg", rel: "group"%>
          <%= link_to image_tag("6.jpg"), "assets/6.jpg", rel: "group"%>
         <%= link_to image_tag("7.jpg"), "assets/7.jpg", rel: "group"%>
         <%= link_to image_tag("8.jpg"), "assets/8.jpg", rel: "group"%>
         <%= link_to image_tag("9.jpg"), "assets/9.jpg", rel: "group"%>
         <%= link_to image_tag("10.jpg"), "assets/10.jpg", rel: "group"%>
          <%= link_to image_tag("11.jpg"), "assets/11.jpg", rel: "group"%>
         <%= link_to image_tag("12.jpg"), "assets/12.jpg", rel: "group"%>
         <%= link_to image_tag("13.jpg"), "assets/13.jpg", rel: "group"%>
         <%= link_to image_tag("14.jpg"), "assets/14.jpg", rel: "group"%>
         <%= link_to image_tag("15.jpg"), "assets/15.jpg", rel: "group"%>
         <%= link_to image_tag("16.jpg"), "assets/16.jpg", rel: "group"%>
         <%= link_to image_tag("17.jpg"), "assets/17.jpg", rel: "group"%>
         <%= link_to image_tag("18.jpg"), "assets/18.jpg", rel: "group"%>
         <%= link_to image_tag("19.jpg"), "assets/19.jpg", rel: "group"%>
         <%= link_to image_tag("20.jpg"), "assets/20.jpg", rel: "group"%>
  </div>
<div class="span12" id="arms">
     <%= image_tag "arms.jpg"%>
</div>
</div>
