<div class="row-fluid">
	<div id='gallery'>
		<a href="#"> <%= image_tag "home.jpg"%> </a>
		<a href="#"> <%= image_tag "camps.jpg"%> </a>
		<a href="#"> <%= image_tag "camp2.jpg"%> </a>
		<a href="#"> <%= image_tag "image1.jpeg"%> </a>
		<a href="#"> <%= image_tag "image2.jpeg"%> </a>
		<a href="#"> <%= image_tag "image3.jpeg"%> </a>
		<a href="#"> <%= image_tag "image4.jpeg"%> </a>
		<a href="#"> <%= image_tag "image.jpeg"%> </a>
		<a href="#"> <%= image_tag "family.jpg"%> </a>
		<a href="#"> <%= image_tag "kids.jpg"%> </a>
		<a href="#"> <%= image_tag "women.jpg"%> </a>
		<a href="#"> <%= image_tag ""%> </a>
		<a href="#"> <%= image_tag ""%> </a>
		<a href="#"> <%= image_tag ""%> </a>
	</div>
</div>
