<h1>Listing contacts</h1>

<table class="table table-striped table-bordered table-hover table-condensed">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Website</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.website %></td>
    <td><%= contact.message %></td>
    <td><%= link_to 'Show', contact, class: "btn btn-mini btn-info" %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact), class: "btn btn-mini btn-warning" %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />


