<h1>Listing training_sessions</h1>

<table>
  <tr>
    <th>Judge</th>
    <th>Traning</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @training_sessions.each do |training_session| %>
  <tr>
    <td><%= training_session.judge %></td>
    <td><%= training_session.training %></td>
    <td><%= training_session.date %></td>
    <td><%= link_to 'Show', training_session %></td>
    <td><%= link_to 'Edit', edit_training_session_path(training_session) %></td>
    <td><%= link_to 'Destroy', training_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Training session', new_training_session_path %>
