<%set_meta_tags :nofollow => true%>
<p id="notice"><%= notice %></p>

<p>
  <b>Judge:</b>
  <%= @training_session.judge.name %>
</p>

<p>
  <b>Traning:</b>
  <%= @training_session.training.name %>
</p>

<p>
  <b>Start Date:</b>
  <%= @training_session.start_date %>
</p>
<p>
  <b>End Date:</b>
  <%= @training_session.end_date %>
</p>


<%= link_to 'Edit', edit_training_training_session_path([@training, @training_session]) %> |
<%= link_to 'Back', training_training_sessions_path(@training) %>
