<%= render "layouts/logos"%>
<nav id="main_nav">
	<ul>
		<li><%= link_to "HOME", home_path%></li>
		<li><%= link_to "ABOUT US", about_us_path%></li>
		<li><%= link_to "THE PROGRAMME", programmes_path%></li>
		<li><%= link_to "CASES", cases_path%></li>
	</ul>
</nav>
