<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= display_meta_tags :site => 'Court decisions on refugee matters' %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/nav'%>
    <% else%>
    <%= render 'layouts/main_nav'%>
    <%end%>
    <div  class="container-fluid" id="main-content">
      <% if notice.present?%>
      <span class="label label-success"><%= notice %></span>
      <%end%>
      <% if alert.present?%>
      <span class="label label-warning offset3"><%= alert %></span>
      <%end%>
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
